# Python files
__pycache__
*.pyc

# Secret folder
tabeasy_secrets/
backup_db/
media/

# Server deployment files
deploy.sh

# # uWSGI directory
# uwsgi

# Miscellaneous files
.DS_Store
.idea
*.log
*.pot
*.pid
*.socket
.fuse_hidden*
.vscode
.xlsx

node_modules/
polls
package.json
package-lock.json
ppmt2022

extra