{% extends "base.html" %}

{% block content %}
	{% if form.errors %}
        <div class="alert alert-danger" role="alert">
			{{ form.errors }}
        </div>
    {% endif %}

    <form method="POST">
        <div class="alert alert-light" role="alert">
            Sign Up
        </div>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
{#		<div class="form-outline mb-4">#}
{#			<input name="validation" type="validation" id="validation-code" class="form-control" />#}
{#			<label class="form-label" for="validation-code">Judge Validation Code</label>#}
{#		</div>#}
        <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
{% endblock %}