{% extends "base.html" %}

{% block content %}
{#	{% for team in form.conflicts %}#}
{#		{{ team }}<br>#}
{#	{% endfor %}#}

{##}
	{{ form.label }}
    <form method="post">
		{% csrf_token %}

		<div class="row">
            {% for value, label, team in form.conflicts.field.choices %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <li>
                    <label class="checkbox-label-container">
                        <input type="checkbox" value="{{ value }}" name="conflicts">
                        <span class="checkmark"></span>
                            <strong>{{ team.team_name }}</strong>
                            <span>({{ team.school }})</span></a><br />
                    </label>
                </li>
            </div>
            {% endfor %}
        </div>
		<input class="button button-primary" type="submit" value="Add/Update">
    </form>
{#	{{ field.field.instance. }}#}

{% endblock content %}

{% block js %}
	<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock js %}
