{% extends "base.html" %}

{% block content %}
	{{ form.errors }}
	{% if form.errors %}
		<div class="alert alert-danger" role="alert">{{ form.errors }}</div>
    {% endif %}
{#	no need to edit above #}
	<div>Round: {{ object.round.pairing.round_num }}</div>
	<div>Courtroom: {{ object.round.courtroom }}</div>
	<div>P Team: {{ object.round.p_team }}</div>
  	<div>D Team: {{ object.round.d_team }}</div>
	<div>Judge Name: {{ object.judge }}</div>
	<div>
	View Captains Meeting Form
		<a href="{% url 'tourney:captains_meeting' object.round.captains_meeting.pk %}">
			Here:
		</a>
	</div>

  	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input class="button button-primary" type="submit" value="Save">
  	</form>
{% endblock content %}
