{% extends "base.html" %}
{% load static %}
{% load mytags %}
{% load widget_tweaks %}

{% block content %}
	<div class="container-md center">
		{% if form.instance.submit and not form.errors %}
			<div class="alert alert-primary" role="alert">
				You have submitted your ballot. Thanks for judging!
			</div>
		{% endif %}

		{% if form.errors %}
			{% for key, value in form.errors.items %}
				{% if value %}
					<div class="alert alert-danger" role="alert">{{ value }}</div>
				{% endif %}
			{% endfor %}
		{% endif %}

		<h3>Ballot</h3>
		<div class="row">
			<div class="card-group my-3">
				<div class="card border gx-2">
					<h5 class="card-header">
						Round Info
					</h5>
					<div class="card-body text-start">
						<ul class="list-group">
							<li class="list-group-item"> {{ object.round }}</li>
							<li class="list-group-item">Division: {{ object.round.pairing.division }}</li>
							<li class="list-group-item">Judge Name: {{ object.judge }}</li>
							<li class="list-group-item">
								{% if object.judge == object.round.presiding_judge %}
									You are presiding this round.
								{% else %}
									You are scoring this round.
								{% endif %}
							</li>

							<li class="list-group-item">
								<div>Click for:</div>
								<div class="row my-2 px-3">
									<a class="button button-primary"
										href="{% url 'submission:captains_meeting' object.round.captains_meeting.pk|int_str %}">
									Captains Meeting Form
									</a>
								</div>
								{% if request.user.tournament.case %}
									<div class="row my-2 px-3">
										<a class="button button-primary"
												href="{{ request.user.tournament.case }}">
											Case
										</a>
									</div>
								{% endif %}
								{% if request.user.tournament.roe %}
									<div class="row my-2 px-3">
										<a class="button button-primary"
												href="{{ request.user.tournament.roe }}">
											Rules of Evidence
										</a>
									</div>
								{% endif %}
								{% if request.user.tournament.zoom_link %}
									<div class="row my-2 px-3">
										<a class="button button-primary"
												href="{{ request.user.tournament.zoom_link }}">
											Zoom Meeting
										</a>
									</div>
								{% endif %}
							</li>
							<li class="list-group-item">Captains Meeting Form Status:<br>
								{% if object.round.captains_meeting.submit %}
									Submitted
								{% else %}
									Not Submitted
								{% endif %}
							</li>
							<li class="list-group-item"><span class="text-primary">Blue</span> denotes Prosecution,
								and <span class="text-secondary">Purple</span> denotes Defense</li>
						</ul>
					</div>
				</div>
				<div class="card border gx-2">
					<h5 class="card-header">
						Prosecution Team Info
					</h5>
					<div class="card-body text-start">
							<div class="card-text my-1">Team Name: {{ object.round.p_team }}</div>
							<div class="card-text my-1 ">
								<div class="pb-1">Team Roster:</div>
								<ul class="list-group">
									{% for competitor in object.round.p_team.competitors.all %}
										<li class="list-group-item">{{ competitor }}</li>
									{% endfor %}
								</ul>
							</div>
					</div>
				</div>
				<div class="card border gx-2">
					<h5 class="card-header">
						Defense Team Info
					</h5>
					<div class="card-body text-start">
						<div class="card-text my-1">Team Name: {{ object.round.d_team }}</div>
							<div class="card-text my-1 ">
								<div class="pb-1">Team Roster:</div>
								<ul class="list-group">
									{% for competitor in object.round.d_team.competitors.all %}
										<li class="list-group-item">{{ competitor }}</li>
									{% endfor %}
								</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4 gx-2">
			<div class="col-md-4 mb-4 gx-2"></div>
			<div class="col-md-4 mb-4 gx-2"></div>
		</div>

	<form method="post" class="form-inline">
		{% csrf_token %}

		{% for section_form in section_forms %}
		<div class="card my-5">
			<h4 class="card-header">
				{{ section_form.0.init_subsection.section.name }}
				{% if not section_form.0.init_subsection.type == 'statement' %}
				: {% get_character object.round.captains_meeting.sections section_form.0.init_subsection.section %}
				{% endif %}
			</h4>
			<div class="card-body">
				<div class="row">
					{% if section_form.0.init_subsection.type == 'statement' %}
						<div class="col-md-6 pe-4">
							{% for subsection_form in section_form %}
								{% if subsection_form.init_subsection.side == 'P' %}
									<div class="card border border-primary">
										<div class="card-header">
											{{ subsection_form.init_subsection.help_text }}:
											{% get_competitor object.round.captains_meeting.sections subsection_form.init_subsection %}
{#											{{ form.p_open.label_tag }} {{ object.round.captains_meeting.p_opener }}#}
										</div>
										<div class="card-body">
											<div class="row my-2">
												{% if request.user.is_team and request.user.tournament.publish_ballot_scores %}
													<div class="col-2 py-2">Score:</div>
													<div class="col-10">{% render_field subsection_form.score class="form-select" name="score" %}</div>
												{% endif %}
												{% if request.user.is_judge %}
													<div class="col-2 py-2">Score:</div>
													<div class="col-10">{% render_field subsection_form.score class="form-select" name="score" %}</div>
												{% endif %}

											</div>
											<div class="row text-start">
												<div class="p-1">Comments:</div>
												{{ subsection_form.comment }}
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
						<div class="col-md-6 ps-4">
							{% for subsection_form in section_form %}
								{% if subsection_form.init_subsection.side == 'D' %}
									<div class="card border border-secondary">
										<div class="card-header">
											{{ subsection_form.init_subsection.help_text }}:
											{% get_competitor object.round.captains_meeting.sections subsection_form.init_subsection %}
{#											{{ form.p_open.label_tag }} {{ object.round.captains_meeting.p_opener }}#}
										</div>
										<div class="card-body">
											<div class="row my-2">
												{% if request.user.is_team and request.user.tournament.publish_ballot_scores %}
													<div class="col-2 py-2">Score:</div>
													<div class="col-10">{% render_field subsection_form.score class="form-select" name="score" %}</div>
												{% endif %}
												{% if request.user.is_judge %}
													<div class="col-2 py-2">Score:</div>
													<div class="col-10">{% render_field subsection_form.score class="form-select" name="score" %}</div>
												{% endif %}
											</div>
											<div class="row text-start">
												<div class="p-1">Comments:</div>
												{{ subsection_form.comment }}
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					{% else %}
						<div class="col-md-6 pe-4">
							{% for subsection_form in section_form %}
								{% if subsection_form.init_subsection.role == 'att' %}
									{% if subsection_form.init_subsection.side == 'P' %}
										<div class="card border border-primary my-2">
									{% else %}
										<div class="card border border-secondary my-2">
									{% endif %}
										<div class="card-header">
											{{ subsection_form.init_subsection.help_text }}:
											{% get_competitor object.round.captains_meeting.sections subsection_form.init_subsection %}
{#											{{ form.p_open.label_tag }} {{ object.round.captains_meeting.p_opener }}#}
										</div>
										<div class="card-body">
											<div class="row my-2">
												{% if request.user.is_team and request.user.tournament.publish_ballot_scores %}
													<div class="col-2 py-2">Score:</div>
													<div class="col-10">{% render_field subsection_form.score class="form-select" name="score" %}</div>
												{% endif %}
												{% if request.user.is_judge %}
													<div class="col-2 py-2">Score:</div>
													<div class="col-10">{% render_field subsection_form.score class="form-select" name="score" %}</div>
												{% endif %}
											</div>
											<div class="row text-start">
												<div class="p-1">Comments:</div>
												{{ subsection_form.comment }}
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
						<div class="col-md-6 ps-4">
							{% for subsection_form in section_form %}
								{% if subsection_form.init_subsection.role == 'wit' %}
									{% if subsection_form.init_subsection.side == 'P' %}
										<div class="card border border-primary my-2">
									{% else %}
										<div class="card border border-secondary my-2">
									{% endif %}
										<div class="card-header">
											{{ subsection_form.init_subsection.help_text }}:
											{% get_competitor object.round.captains_meeting.sections subsection_form.init_subsection %}
{#											{{ form.p_open.label_tag }} {{ object.round.captains_meeting.p_opener }}#}
										</div>
										<div class="card-body">
											<div class="row my-2">
												{% if request.user.is_team and request.user.tournament.publish_ballot_scores %}
													<div class="col-2 py-2">Score:</div>
													<div class="col-10">{% render_field subsection_form.score class="form-select" name="score" %}</div>
												{% endif %}
												{% if request.user.is_judge %}
													<div class="col-2 py-2">Score:</div>
													<div class="col-10">{% render_field subsection_form.score class="form-select" name="score" %}</div>
												{% endif %}
											</div>
											<div class="row text-start">
												<div class="p-1">Comments:</div>
												{{ subsection_form.comment }}
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}

				</div>
			</div>
		</div>

		{% endfor %}

		<div class="card my-5">
			<h4 class="card-header">Individual Ranks</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 pe-4">
						<div class="card border">
							<div class="card-header">
								Attorneys
							</div>
							<ul class="list-group my-1">
								<li class="list-group-item">
									<div class="row">
										<div class="col-2 py-2">Rank 1:</div>
										<div class="col-10">{% render_field form.att_rank_1 class="form-select" name="att_rank_1" %}</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-2 py-2">Rank 2:</div>
										<div class="col-10">{% render_field form.att_rank_2 class="form-select" name="att_rank_2" %}</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-2 py-2">Rank 3:</div>
										<div class="col-10">{% render_field form.att_rank_3 class="form-select" name="att_rank_3" %}</div>

									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-2 py-2">Rank 4:</div>
										<div class="col-10">{% render_field form.att_rank_4 class="form-select" name="att_rank_4" %}</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 ps-4">
						<div class="card border">
							<div class="card-header">
								Witnesses
							</div>
							<ul class="list-group my-1">
								<li class="list-group-item">
									<div class="row">
										<div class="col-2 py-2">Rank 1:</div>
										<div class="col-10">{% render_field form.wit_rank_1 class="form-select" name="wit_rank_1" %}</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-2 py-2">Rank 2:</div>
										<div class="col-10">{% render_field form.wit_rank_2 class="form-select" name="wit_rank_2" %}</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-2 py-2">Rank 3:</div>
										<div class="col-10">{% render_field form.wit_rank_3 class="form-select" name="wit_rank_3" %}</div>

									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-2 py-2">Rank 4:</div>
										<div class="col-10">{% render_field form.wit_rank_4 class="form-select" name="wit_rank_4" %}</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% if request.user.is_judge %}
		<input class="button btn-secondary" type="submit" value="Save"
					style="position:fixed; top: 100px; right: 20px">
		<div class="form-check" style="position:fixed; top: 150px; right: 20px">
			{% render_field form.submit class='form-check-input' name="submit" %}
			<span class="form-check-label"> Submit </span>
		</div>
	{% endif %}
	</form>
</div>
{% endblock content %}


{% block js %}
	<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock js %}



