{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
{#	{% if form.errors %}#}
{#		<div class="alert alert-danger" role="alert">{{ form.errors }}</div>#}
{#	{% endif %}#}
	<div class="container-md">
		{% if form.errors %}
			{% for key, value in form.errors.items %}
				{% if value %}
					<div class="alert alert-danger" role="alert">{{ value }}</div>
				{% endif %}
			{% endfor %}
		{% endif %}
		<div class="alert alert-primary" role="alert">
			Only ONE team should work on the captains meeting form at any given time.
			Simultaneous changes would override each other. Prosecution should fill the form out first, and then the defense.
		</div>

		{% for section in section_forms%}
			{% for subsection_form in section %}
				{% if subsection_form.errors %}
					{% for key, value in subsection_form.errors.items %}
						{% if value %}
							<div class="alert alert-danger" role="alert">{{ value }}</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		{% endfor %}


		{% for pronouns_form in pronouns_forms %}
			{% if pronouns_form.errors %}
				{% for key, value in pronouns_form.errors.items %}
					{% if value %}
						<div class="alert alert-danger" role="alert">{{ value }}</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}

		<h3>Captains Meeting Form</h3>
		<div class="card-group my-3">
				<div class="card border gx-2">
					<h5 class="card-header">
						Round Info
					</h5>
					<div class="card-body text-start">
						<ul class="list-group">
							<li class="list-group-item"> {{ object.round }}</li>
							<li class="list-group-item">Division: {{ object.round.pairing.division }}</li>
							<li class="list-group-item">Judges Name:
								{% if object.round.pairing.final_submit %}
									{% for judge in object.round.judges %}
										{{ judge }}
										{% if not forloop.last %}
										,
										{% endif %}
									{% endfor %}
								{% else %}
									Not Assigned
								{% endif %}
							</li>

						{% if object.round.pairing.final_submit %}
								<li class="list-group-item">
									{% for judge in object.round.judges %}
										<div class="row my-2 px-3">
										<a class="button button-primary"
												href={% url 'submission:paradigm' judge.user.username %}>
											View {{ judge }}'s Paradigm
										</a>
										</div>
									{% endfor %}
								</li>
							{% endif %}
							<li class="list-group-item"><span class="text-primary">Blue</span> denotes Prosecution,
								and <span class="text-secondary">Purple</span> denotes Defense</li>

							</ul>
					</div>
				</div>
				<div class="card border gx-2">
					<h5 class="card-header">
						Prosecution Team Info
					</h5>
					<div class="card-body text-start">
							<div class="card-text my-1">Team Name: {{ object.round.p_team }}</div>
							<div class="card-text my-1 ">
								<div class="pb-1">Team Roster:</div>
								<ul class="list-group">
									{% for competitor in object.round.p_team.competitors.all %}
										<li class="list-group-item">{{ competitor }}</li>
									{% endfor %}
								</ul>
							</div>
					</div>
				</div>
				<div class="card border gx-2">
					<h5 class="card-header">
						Defense Team Info
					</h5>
					<div class="card-body text-start">
						<div class="card-text my-1">Team Name: {{ object.round.d_team }}</div>
							<div class="card-text my-1 ">
								<div class="pb-1">Team Roster:</div>
								<ul class="list-group">
									{% for competitor in object.round.d_team.competitors.all %}
										<li class="list-group-item">{{ competitor }}</li>
									{% endfor %}
								</ul>
						</div>
					</div>
				</div>
			</div>


	<form method="post">
		{% csrf_token %}


{#		<div class="card my-5">#}
{#			<h4 class="card-header">Character Evidence Form</h4>#}
{#				<div class="card-body">#}
{#					<ul class="list-group">#}
{#						<li class="list-group-item">#}
{#							{% render_field form.character_evidence_option1 class='form-check-input mt-2' name="character_evidence_option1" %}#}
{#							<span class="mx-3">{{ form.character_evidence_option1.help_text }}</span>#}
{#							{{ form.character_evidence_option1_description }}#}
{#						</li>#}
{#						<li class="list-group-item">#}
{#							{% render_field form.character_evidence_option2 class='form-check-input mt-2' name="character_evidence_option2" %}#}
{#							<span class="mx-3">{{ form.character_evidence_option2.help_text }}</span>#}
{#							{{ form.character_evidence_option2_description }}#}
{#						</li>#}
{#						<li class="list-group-item">#}
{#							{% render_field form.character_evidence_option3 class='form-check-input mt-2' name="character_evidence_option3" %}#}
{#							<span class="mx-3">{{ form.character_evidence_option3.help_text }}</span>#}
{#							{{ form.character_evidence_option3_description }}#}
{#						</li>#}
{#						<li class="list-group-item">#}
{#							{% render_field form.character_evidence_option4 class='form-check-input mt-2' name="character_evidence_option4" %}#}
{#							<span class="m-3">{{ form.character_evidence_option4.help_text }}</span>#}
{#							{{ form.character_evidence_option4_description }}#}
{#						</li>#}
{#						<li class="list-group-item">#}
{#							{% render_field form.character_evidence_submit class='form-check-input mt-1' name="character_evidence_submit" %}#}
{#							<span class="m-3">{{ form.character_evidence_submit.help_text }}</span>#}
{#						</li>#}
{#					</ul>#}
{#				</div>#}
{##}
{#			<div class="card my-5">#}
{#				<h4 class="card-header">Charges</h4>#}
{#				<div class="card-body">#}
{#					<div class="row">#}
{#						<div class="col-md-6 pe-4">#}
{#							<div class="card border border-primary">#}
{##}
{#								<div class="card-body">#}
{#									<div class="card-text my-2">#}
{#										Prosecution announces that they wish to pursue Robbery1 against the following victim(s):#}
{#									</div>#}
{#									{% render_field form.p_charge class='form-select mt-1' name='p_charge' %}#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#						<div class="col-md-6 ps-4">#}
{#							<div class="card border border-secondary">#}
{#								<div class="card-body">#}
{#									<div class="card-text my-2">#}
{#										Defense then announces their intention that the defendant is:#}
{#										{% render_field form.d_charge class='form-select mt-1' name='d_charge' %}#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}


		<h2>Roles</h2>


			{% for section in section_forms %}
				<div class="card my-5">
				<h4 class="card-header">{{ section.0.init_subsection.section.name }}</h4>
				<div class="card-body">
						<div class="row">
							<div class="col-md-6 pe-4">
								<div class="card border border-primary">
									<div class="card-header">
										Prosecution
									</div>
									<div class="card-body">
										<ul class="list-group">
											{% for subsection_form in section %}
												{% if subsection_form.init_subsection.side == 'P' %}
													{% if subsection_form.init_subsection.role == 'wit' %}
														<li class="list-group-item">
															<div>Character Name:</div>
															{% render_field subsection_form.character class='form-select mt-1' name='character' %}
														</li>
													{% endif %}
													<li class="list-group-item">
														<div>{{ subsection_form.init_subsection.help_text }}:</div>
														{% render_field subsection_form.competitor class='form-select mt-1' name='competitor' %}
													</li>
												{% endif %}
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 ps-4">
								<div class="card border border-secondary">
									<div class="card-header">
										Defense
									</div>
									<div class="card-body">
										<ul class="list-group">
											{% for subsection_form in section %}
												{% if subsection_form.init_subsection.side == 'D' %}
													{% if subsection_form.init_subsection.role == 'wit' %}
														<li class="list-group-item">
														<div>Character Name:</div>
														{% render_field subsection_form.character class='form-select mt-1' name='character' %}
														</li>
													{% endif %}
													<li class="list-group-item">
														<div>{{ subsection_form.init_subsection.help_text }}:</div>
														{% render_field subsection_form.competitor class='form-select mt-1' name='competitor' %}
													</li>
												{% endif %}
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="card my-5">
			<h4 class="card-header">Pronouns</h4>
			<div class="card-body">
				<div class="card-text">
					The preferred pronouns of the testifying witnesses are announced by the side calling them.
				</div>
				<div class="card-group my-3">
					<div class="card border gx-2">
						<div class="card-header">
							Prosecution
						</div>
						<div class="card-body text-start">
							<ul class="list-group">
								{% for pronouns_form in pronouns_forms %}
									{% if pronouns_form.init_character.side == 'P' %}
										<li class="list-group-item">
										<div>{{ pronouns_form.init_character }}</div>
										{% render_field pronouns_form.pronouns class='form-select mt-1' name='pronouns' %}
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="card border gx-2">
						<div class="card-header">
							Defense
						</div>
						<div class="card-body text-start">
							<ul class="list-group">
								{% for pronouns_form in pronouns_forms %}
									{% if pronouns_form.init_character.side == 'D' %}
										<li class="list-group-item">
										<div>{{ pronouns_form.init_character }}</div>
										{% render_field pronouns_form.pronouns class='form-select mt-1' name='pronouns' %}
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>

					<div class="card border gx-2">
						<div class="card-header">
							Other
						</div>
						<div class="card-body text-start">
							<ul class="list-group">
								{% for pronouns_form in pronouns_forms %}
									{% if pronouns_form.init_character.side == 'other' %}
										<li class="list-group-item">
										<div>{{ pronouns_form.init_character }}</div>
										{% render_field pronouns_form.pronouns class='form-select mt-1' name='pronouns' %}
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="card my-5">
			<h4 class="card-header">Demo</h4>
			<div class="card-body">

				{% render_field form.demo class='form-check-input mt-1' name="demo" %}
				<span class="mx-3">{{ form.demo.help_text }}</span>

			</div>
		</div>








{#		{% if request.user.is_team %}#}
			<input class="button btn-secondary" type="submit" value="Save"
						style="position:fixed; top: 100px; right: 20px">
			<div class="form-check" style="position:fixed; top: 150px; right: 20px">
				{% render_field form.submit class='form-check-input' name="submit" %}
				<span class="form-check-label"> Submit </span>
			</div>
{#		{% endif %}#}
		</form>
	</div>


{% endblock content %}


{% block js %}
	<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock js %}

