{% load static %}
{% load mytags %}
<h1>Welcome, {{ request.user }}!</h1>

<br>
<a href="{% url 'tourney:update_conflict' %}">
	<button type="button" class="btn btn-secondary">Update Conflict</button>
</a>

<br>Conflicted Teams:<br>
{% for team in request.user.judge.conflicts.all %}
{{ team }}<br>
{% endfor %}


<a href="{% url 'tourney:judge_friend' %}">
	<button type="button" class="btn btn-secondary">Add/Update Judge Friends</button>
</a>

<br>Judge Friends:<br>
{% for friend in request.user.judge.judge_friends.all %}
{{ friend }}<br>
{% endfor %}
<br>Can preside?: {{ request.user.judge.get_preside_preference }}<br>


<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown link
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

Ballots:
{% for ballot in request.user.judge.ballots.all %}
<a href="{% url 'tourney:submit_ballot' ballot.pk %}">
{#round#}
	<button type="button" class="btn btn-secondary">{{ ballot.round }}</button>
</a>
{% endfor %}


