{% load static %}
{% load mytags %}
<div class="container-md">

	<div class="card my-5">
		<h4 class="card-header">Judge Profile</h4>
		<div class="card-body">
			<div class="card-group my-3">
				<div class="card border gx-2">
					<div class="card-header">
						Conflicted Teams
					</div>
					<div class="card-body text-start">
						<a class="button button-primary py-2 mb-4" href="{% url 'tourney:update_conflict' %}">
							Update Conflict
						</a>
						<ul class="list-group mt-3">
							{% for team in request.user.judge.conflicts.all %}
								<li class="list-group-item">{{ team }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="card border gx-2">
					<div class="card-header">
						Judge Friends
					</div>
					<div class="card-body text-start">
						<a class="button button-primary py-2 my-2" href="{% url 'tourney:judge_friend' %}">
							Update Judge Friends
						</a>
						<ul class="list-group mt-3">
							{% for friend in request.user.judge.judge_friends.all %}
								<li class="list-group-item">{{ friend }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>

				<div class="card border gx-2">
					<div class="card-header">
						Preference
					</div>
					<div class="card-body text-start">
						<a class='button button-primary py-2' href="{% url 'tourney:edit_preference'%}">
							Edit Preference
						</a>
						<div class="card-text mt-3 mb-2">Can preside? {{ request.user.judge.get_preside_preference }}</div>
						<div class="card-text my-2">Availability:</div>
						<ul class="list-group">
							{% if request.user.judge.available_round1 %}
							<li class="list-group-item">Round 1</li>
							{% endif %}
							{% if request.user.judge.available_round2 %}
							<li class="list-group-item">Round 2</li>
							{% endif %}
							{% if request.user.judge.available_round3 %}
							<li class="list-group-item">Round 3</li>
							{% endif %}
							{% if request.user.judge.available_round4 %}
							<li class="list-group-item">Round 4</li>
							{% endif %}
							{% if request.user.judge.available_round5 %}
							<li class="list-group-item">Round 5</li>
							{% endif %}
						</ul>
					</div>
				</div>

				<div class="card border gx-2">
					<div class="card-header">
						Ballots
					</div>
					<div class="card-body text-start center">

						{% for ballot in request.user.judge.ballots.all %}
							{% if ballot.round.pairing.final_submit %}
								<div class="card-text mb-4">
									<a class="button button-primary py-2" href="{% url 'submission:ballot' ballot.pk|int_str %}">
										{{ ballot.round }}
									</a>
								</div>
							{% endif %}

						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>


</div>












