{% extends "base.html" %}
{% load static %}
{% load mytags %}
{% load widget_tweaks %}

{% block content %}


<div class="container-md">
    {% for form in forms %}
    {% if form.errors %}
    {% for key, value in form.errors.items %}
        <div class="alert alert-danger" role="alert">{{ value }}</div>
    {% endfor %}
    {% endif %}
    {% endfor %}
    <h1>{{ team }}'s Spirit Award Submission</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group col-md-6 p-1">
            <strong>Rating for Round 1 Opponent: Team {{team|round_opponent:1}}</strong>
            <br>
            {% render_field form.round1 class='form-select' name="round1" %}
        </div>
        <div class="form-group col-md-6 p-1">
            <strong>Rating for Round 2 Opponent: Team {{team|round_opponent:2}}</strong>
            <br>
            {% render_field form.round2 class='form-select' name="round2" %}
        </div>
        <div class="form-group col-md-6 p-1">
            <strong>Rating for Round 3 Opponent: Team {{team|round_opponent:3}}</strong>
            <br>
            {% render_field form.round3 class='form-select' name="round3" %}
        </div>
        <!-- <div class="form-group col-md-6 p-1">
            <strong>Rating for Round 4 Opponent: Team {{team|round_opponent:4}}</strong>
            <br>
            {% render_field form.round4 class='form-select' name="round4" %}
        </div> -->


        <div class="form-group col-md-6 p-2">
            {{ form.q1.help_text }}
            <br>
            {% render_field form.q1 class='form-text' name="q1" %}
        </div>

        <div class="form-group col-md-6 p-2">
            {{ form.q2.help_text }}
            <br>
            {% render_field form.q2 class='form-text' name="q2" %}
        </div>

        <input class="button btn-secondary" type="submit" value="Save" style="position:fixed; top: 100px; right: 20px">
        <div class="form-check" style="position:fixed; top: 150px; right: 20px">
            {% render_field form.submit class='form-check-input' name="submit" %}
            <span class="form-check-label"> Submit </span>
        </div>
    </form>
</div>

{% endblock %}