{% load static %}
{% load mytags %}
<div class="container-md">




	<div class="card my-5">
		<h4 class="card-header">Team Profile</h4>
		<div class="card-body">
			<div class="card-group my-3">
				<div class="card border gx-2">
					<div class="card-header">
						Team Members
					</div>
					<div class="card-body text-start">
						<ul class="list-group">
							{% for member in user.team.members.all %}
								<li class="list-group-item">{{ member }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="card border gx-2">
					<div class="card-header">
						Captain Meeting Forms
					</div>
					<div class="card-body text-start">
						{% if user.team.rounds %}
							{% for round in  user.team.rounds %}
								{% if round.pairing.team_submit %}
									<div class="card-text mb-4">
										<a class="button button-primary py-2" href="{% url 'submission:captains_meeting' round.captains_meeting.pk|int_str %}">
											{{ round }}
										</a>
									</div>
								{% endif %}
							{% endfor %}
						{% else %}
							<div class="card-text">You are not assigned to a round yet. </div>
						{% endif %}
					</div>
				</div>

				<div class="card border gx-2">
					<div class="card-header">
						Ballots
					</div>
					<div class="card-body text-start">
						{% if user.team.published_ballots %}
							{% for ballot in user.team.published_ballots %}
								<div class="card-text mb-4">
									<a class="button button-primary py-2" href="{% url 'submission:ballot' ballot.pk|int_str %}">
										{{ ballot }}
									</a>
								</div>
							{% endfor %}
						{% else %}
							<div class="card-text mb-4">No ballots have been published yet.</div>
						{% endif %}
					</div>
				</div>


			</div>
		</div>
	</div>





</div>

