{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load mytags %}

{% block content %}
{#	{% for team in form.conflicts %}#}
{#		{{ team }}<br>#}
{#	{% endfor %}#}

{##}
    <form method="post">
		{% csrf_token %}

		<div class="row m-3">
			<h3>Team Basic Info</h3>
			 {% include "utils/form_content.html" with form=team_form %}

		</div>

		<div class="row mx-3">
			<h3>Competitors</h3>
			{{ formset.management_form }}
			{% for form in formset %}
				<div class="my-3">
				</div>
				{{ form.media }}
				<div class="form-group col-md-12 p-1">
					<strong>Name</strong>
					<br>
					{{ form.name }}
				</div>
				<div class="form-group col-md-12 p-1">
					<strong>Pronouns</strong>
					<br>
					{{ form.pronouns }}
				</div>
				{% for hidden in form.hidden_fields %}
						{{ hidden }}
				{% endfor %}
			{% endfor %}
		</div>
		<input class="button button-primary my-3" type="submit" value="Save">


    </form>
{#	{{ field.field.instance. }}#}

{% endblock content %}

{% block js %}
	<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock js %}
