{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link async rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1"
        crossorigin="anonymous">

  <!--jquery-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- Temporary Bootstrap reference -->
{#	dirty-form#}
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.dirtyforms/2.0.0/jquery.dirtyforms.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
				integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
					integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


	<link rel="stylesheet" href="https://use.typekit.net/fiy6cyf.css">
  <link rel="stylesheet" href="{% static "styles/main.css" %}?v=0.1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/mdb.min.css' %}"/>
	<link rel="shortcut icon" href="{% static "img/base/favicon.ico" %}"/>
	<title>{% block title %}Tabeasy{% endblock title %}</title>
	{% block css %}{% endblock css %}

</head>
<body>


<header class="full-width-bg-container" id="navbar-bg">
  <div class="card-container" id="navbar-container">
    <div class="main-content-container" id="main-navbar">

		<a class="navbar-brand navbar-link" target="_blank" href="{% url 'index' %}" id="header-title">
			<img src="{% static "img/base/logo.png" %}" alt='' width="40" height="38" class="ms-4 me-2 d-inline-block align-text-center">
			Tabeasy
		</a>

		{% if user.is_authenticated %}
			<a class="navbar-item button button-primary" id="menu-toggle"
				 href="javascript:void(0);" onclick="mobileMenuToggle()">
				<i class="far fa-bars"></i>
			</a>
			<div class="navbar-item dropdown" id="menu">
				<a class="button button-text-only dropdown-toggle" href="{% url "index" %}" role="button"
					 id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
					{{ user }}
				</a>

				<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<li><a class="dropdown-item" href="{% url "index" %}">Profile</a></li>
					{% if user.is_staff %}
						<li><a class="dropdown-item" href="{% url "admin:index" %}">Django Admin</a></li>
					{% endif %}
					{% if user.is_team == False %}
						<li><a class="dropdown-item" href="{% url "accounts:change_password" %}">Change Password</a></li>
					{% endif %}
						<li><a class="dropdown-item" href="{% url "accounts:logout" %}">Logout</a></li>
				</ul>
			</div>

		{% else %}
			<a class="navbar-item button button-primary" id="menu-toggle"
				 href="javascript:void(0);" onclick="mobileMenuToggle()">
				<i class="far fa-bars"></i>
			</a>
			<div class="navbar-item" id="menu">
				<a class="button button-text-only" href="{% url "accounts:login" %}">Login</a>
				<a class="button button-text-only" href="{% url "accounts:signup" %}">Sign Up</a>
			</div>

		{% endif %}
    </div>
  </div>
</header>

 <div id="page-container">
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% block content %}{% endblock content %}
</div>


<footer class="full-width-bg-container" id="footer-bg" >
	<div id="footer">
		<span id="copyright-info">Tabeasy &copy; 2022 by Carl Guo.</span>
		<span id="copyright-info">
			Tabeasy is made to be completely free of charge. If you enjoy using the website,
			please consider <a class="link-primary" href="{% url 'donate' %}">donating</a>.
		</span>

		<div id="footer-icon-container">
		  <a href="https://github.com/carlguo866/tabeasy" class="footer-icon"><i class="fab fa-github"></i></a>
		</div>
	</div>
</footer>
</body>

{% csrf_token %}


<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script src="https://kit.fontawesome.com/63d734a68c.js" crossorigin="anonymous"></script>
{% block js %}{% endblock js %}

</html>