{% extends "base.html" %}
{% load static %}
{% block css %}
	<style>
	#intro {
		background-image: url({% static 'img/base/homepage.jpg' %});
		height: 100vh;
	}
	/* Height for devices larger than 576px */
	.navbar .nav-link {
	color: #fff !important;
	}
</style>
{% endblock css %}

{% block content%}
	{% if user.is_authenticated %}
		<h1>Welcome back, {{ user.username }}!</h1>
		{% if user.is_staff %}
			You are a tab admin!<br>
			Pairing page is here:<br>
			<a href="{% url 'tourney:pairing_index' %}">
				<button type="button" class="button button-primary">Pairing</button>
			</a>
			<br>
			Results page is here:<br>
			<a href="{% url 'tourney:results' %}">
				<button type="button" class="button button-primary">Results</button>
			</a>
			<a href="{% url 'tourney:individual_awards' %}">
				<button type="button" class="button button-primary">Individual Awards</button>
			</a>

		{% elif user.is_team%}
			{{ user.team.team_name }}
			{{ user.team.team_roster }}
			Prosecution Rounds:
			{% for round in  user.team.p_rounds.all %}
				<a href="{% url 'tourney:captains_meeting' round.captains_meeting.pk %}">
					<button type="button" class="btn btn-secondary">{{ round }}</button>
				</a>
			{% endfor %}
		{% elif user.is_judge %}
			 {% include 'tourney/judge_index.html' %}
		{% endif %}

	{% else %}
	<!-- Background image -->
	<div id="intro" class="bg-image shadow-2-strong">
	  	<div class="mask d-flex align-items-center h-100" style="background-color: rgba(170, 152, 169, 0.6);">
		<div class="container">
		  	<div class="row justify-content-center">
			<div class="col-xl-5 col-md-8">
			  	<form class="bg-white rounded shadow-5-strong p-5" method="post" action="{% url 'accounts:login' %}">
				<!-- Email input -->
			  {% csrf_token %}
				<div class="form-outline mb-4">
				  	<input name="username" type="text"  id="form1Example1" class="form-control" />
				  	<label class="form-label" for="form1Example1">Username</label>
				</div>

				<!-- Password input -->
				<div class="form-outline mb-4">
					<input name="password" type="password" id="form1Example2" class="form-control" />
					<label class="form-label" for="form1Example2">Password</label>
				</div>


				<!-- Submit button -->
				<button type="submit" class="btn btn-primary btn-block">Sign in</button>
				<input type="hidden" name="next" value="{{ next }}"/>
				</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

{% endblock content%}
