{% extends "base.html" %}
{% load static %}
{% load mytags %}
{% load widget_tweaks %}


{% block content %}
	<div class="container-fluid center">
			<h3>Edit Round {{ pairing.round_num }} Pairing</h3>
			{% for formset in formsets %}
				{% if formset.errors %}
					{% for formerror in formset.errors %}
						{% if formerror %}
							{% for key, value in formerror.items %}
								<div class="alert alert-danger" role="alert">{{ value }}</div>
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if formset.non_form_errors %}
					{% for key, value in formset.non_form_errors.items %}
						{% if value %}
							<div class="alert alert-danger" role="alert">{{ value }}</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
	
			<form method="post">
				{% csrf_token %}
				<div class="row gx-2 pb-2">
					{% for formset in formsets %}
						<div class="col-md-6">
							<h4>{{ formset.instance }}</h4>
							{{ formset.management_form }}
							<table class="table table-striped table-bordered">
								<thead class="table-light">
									<tr>
										<th scope="col">Prosecution Team</th>
										<th scope="col">Defense Team</th>
										<th scope="col">Presiding Judge</th>
										<th scope="col">Scoring Judge</th>
									</tr>
								</thead>
								<tbody>
									{% for form in formset %}
										<tr>
											<td>{% render_field form.p_team class="form-select" name="p_team" %}</td>
											<td>{% render_field form.d_team class="form-select" name="d_team" %}</td>
											<td>{% render_field form.presiding_judge class="form-select" name="presiding_judge" %}</td>
											<td>{% render_field form.scoring_judge class="form-select" name="scoring_judge" %}</td>
										</tr>
										{% for hidden in form.hidden_fields %}
												{{ hidden }}
										{% endfor %}
									{% endfor %}
								</tbody>
							</table>

						</div>
					{% endfor %}
				</div>
				<div class="d-flex justify-content-center">
					<div class="form-check mx-3">
							<span class="form-check-label" style="padding-bottom: 20px"> Submit Disney Team</span>
							{% render_field div1_submit_form.team_submit class='form-check-input' name="submit" %}
					</div>
					<div class="form-check mx-3">
						<span class="form-check-label" style="padding-bottom: 20px"> Submit Disney Final</span>
						{% render_field div1_submit_form.final_submit class='form-check-input' name="submit" %}
					</div>
					<div class="form-check mx-3">
						<span class="form-check-label" style="padding-bottom: 20px"> Publish Disney</span>
						{% render_field div1_submit_form.publish class='form-check-input' name="submit" %}
					</div>
					<div class="form-check mx-3">
						<span class="form-check-label" style="padding-bottom: 20px"> Submit Universal Team</span>
						{% render_field div2_submit_form.team_submit class='form-check-input' name="submit" %}
					</div>
					<div class="form-check mx-3">
						<span class="form-check-label" style="padding-bottom: 20px"> Submit Universal Final</span>
						{% render_field div2_submit_form.final_submit class='form-check-input' name="submit" %}
					</div>
					<div class="form-check mx-3">
						<span class="form-check-label" style="padding-bottom: 20px"> Publish Universal</span>
						{% render_field div2_submit_form.publish class='form-check-input' name="submit" %}
					</div>
				</div>

				<input class="button btn-secondary" type="submit" value="Save"
						style="position:fixed; top: 100px; right: 20px">

			</form>
	<br>
	{% for judge in judges.all %}
		{% if judge.judge_friends.all %}
			{{ judge }}:
			{% for friend in judge.judge_friends.all %}
			{{ friend }},
			{% endfor %}
			<br>
		{% endif %}
	{% endfor %}

	</div>






{% endblock content %}