{% extends "base.html" %}
{% load static %}
{% load mytags %}

{% block content %}
	<div class="container-md center">
		<h1>Create Pairing</h1>
		{% if formset %}

			{% if formset.errors %}
				{% for key, value in formset.errors.items %}
					{% if value %}
						<div class="alert alert-danger" role="alert">{{ value }}</div>
					{% endif %}
				{% endfor %}
			{% endif %}
			{% if formset.non_form_errors %}
				{% for key, value in formset.non_form_errors.items %}
					{% if value %}
						<div class="alert alert-danger" role="alert">{{ value }}</div>
					{% endif %}
				{% endfor %}
			{% endif %}
				<form method="post">
			{% csrf_token %}
			{{ formset.as_p }}
			{{ submit_form.as_p }}
			<input class="button button-primary" type="submit" value="Save">
		</form>

		{% else %}
			<form method="post">
				{% csrf_token %}
				{{ pairing_form.as_p }}
				<input class="button button-primary" type="submit" value="Save">
			</form>
		{% endif %}

	</div>






{% endblock content %}