{% extends "base.html" %}
{% load static %}
{% load mytags %}

{% block content %}
	<h1>here is the pairing landing page</h1>
	{% if formset.errors %}
		{% for error in formset.errors %}
        	<div class="alert alert-danger" role="alert">{{ error }}</div>
		{% endfor %}
    {% endif %}
	{% if formset.non_form_errors %}
		{% for error in formset.non_form_errors %}
        	<div class="alert alert-danger" role="alert">{{ error }}</div>
		{% endfor %}
    {% endif %}

	<form method="post">
		{% csrf_token %}
		{{ formset.as_p }}
		<input class="button button-primary" type="submit" value="Save">
	</form>
{#	{{ div_1_teams.count}}#}
{#	{{ half_div_1_teams_num }}#}
{##}
{#	{{ div_2_teams.count}}#}
{#	{{ half_div_2_teams_num }}#}
{#	<div class="container-fluid">#}
{#		{{ div_1_teams.first.division }} Pairing#}
{#		<br>#}
{#		<form method="POST" action = "">{% csrf_token %}#}
{#			{% with ''|center:half_div_1_teams_num as range %}#}
{#				{% for _ in range %}#}
{#					Courtroom {{ forloop.counter0|chr }}#}
{#					<table>{{ form.as_table }}</table>#}
{##}
{#					<br>#}
{#				{% endfor %}#}
{#			{% endwith %}#}
{#			<input type="submit" value="Submit!"/>#}
{##}
{#        </form>#}

{#		{% for  in div_1_teams.count/2 %}#}
{##}
{##}
{#  		{% endfor %}#}
{#	{{ div_2_teams.count}}#}
{#	{% for team in div_1_teams %}#}
{##}
{#	  	<strong> {{ team }} {{ team.school }}</strong><br>#}
{#  	{% endfor %}#}

{#	{% if div_2_teams == None %}#}
{#		{% for team in div_2_teams %}#}
{#			<strong> {{ team }} {{ team.school }}</strong><br>#}
{#		{% endfor %}#}
{#	{% endif %}#}

{% endblock content %}