{% extends "base.html" %}
{% load static %}
{% load mytags %}

{% block content %}
	{% for pairing in pairings %}
		{% for round in pairing.get_rounds %}
			Courtroom {{ round.courtroom }}: {{ round.p_team }} vs. {{ round.d_team }} <br>
		{% endfor %}
		<br>
		<a href="{% url 'tourney:edit_pairing' pairing.pk %}">
			<button type="button" class="btn btn-secondary">Round {{ pairing.round_num }} {{ pairing.division }}</button>
		</a>
	{% endfor %}
	<br><br>

	<a href="{% url 'tourney:edit_pairing' 999 %}">
		<button type="button" class="btn btn-secondary">Add</button>
	</a>

{% endblock content %}