{% extends "base.html" %}
{% load static %}
{% load mytags %}

{% block content %}
	<div class="container-fluid center">
		<h1>Pairings</h1>
			{% for pairing in pairings %}
				<div class="row gx-2 pb-3">
					<h3>Round {{ pairing.0.round_num }} Pairing</h3>
					{% for div_pairing in pairing %}
						<div class="col-md-6">
							<h4>{{ div_pairing }}</h4>
							{% if div_pairing.rounds.exists %}
							<table class="table table-striped table-bordered table-responsive">
								<thead class="table-light">
									<tr>
										<th scope="col">Courtroom</th>
										<th scope="col">Prosecution Team</th>
										<th scope="col">Defense Team</th>
										<th scope="col">Presiding Judge</th>
										<th scope="col">Scoring Judge</th>
									</tr>
								</thead>
								<tbody>
									{% for round in div_pairing.get_rounds %}
										<tr>
											<th scope="row">{{ round.courtroom }}</th>
											<td>{{ round.p_team }}</td>
											<td>{{ round.d_team }}</td>
											<td>{{ round.presiding_judge }}</td>
											<td>{{ round.scoring_judge }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							{% endif %}
						<div class="d-flex justify-content-center">
							<div class="div mx-2">
								All teams finalized?
								{% if div_pairing.team_submit %}
									<i class="fa-solid fa-check mx-1"></i>
								{% else %}
									<i class="fa-solid fa-xmark  mx-1"></i>
								{% endif %}
							</div>
							<div class="div mx-2">
								All judges finalized?
								{% if div_pairing.final_submit %}
									<i class="fa-solid fa-check mx-1"></i>
								{% else %}
									<i class="fa-solid fa-xmark mx-1"></i>
								{% endif %}
							</div>
							<div class="div mx-2">
								Published?
								{% if div_pairing.publish %}
									<i class="fa-solid fa-check mx-1"></i>
								{% else %}
									<i class="fa-solid fa-xmark mx-1"></i>
								{% endif %}
							</div>
						</div>
						</div>
					{% endfor %}
				</div>
				<div class="d-flex justify-content-center">
					<a href="{% url 'tourney:edit_pairing' pairing.0.round_num %}">
						<button type="button" class="button button-primary m-2">Edit Round {{ pairing.0.round_num }} Pairing</button>
					</a>
					<a href="{% url 'tourney:delete_pairing' pairing.0.round_num %}">
						<button type="button" class="button button-primary m-2">Delete Round {{ pairing.0.round_num }} Pairing</button>
					</a>
				</div>
			{% endfor %}

	<a href="{% url 'tourney:edit_pairing' next_round %}">
		<button type="button" class="button button-primary">Add</button>
	</a>

	<a href="{% url 'tourney:next_pairing' %}">
		<button type="button" class="button button-primary">Next Pairing</button>
	</a>


	</div>

{% endblock content %}
